
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 32px;
}

a {
    color: #243E63;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.logo {
    margin-right: 12px;
    width: 40px;
}

button {
    cursor: pointer;
}

/*

NAVBAR 

*/

nav {
    height: 44px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    color: #243E63;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.nav__link--anchor {
    padding: 0 4px;
    margin: 0 24px;
}


.nav__link--anchor-primary {
    background-color: #6415ff;
    margin: 0;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f7fafc;
}

.nav__link--anchor-left {
    padding-left: 48px;
}

.logo__container {
    display: flex;
    align-items: center;
    border-bottom-width: 0px;
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text--purple {
    color: #6415ff;   
}

/* 

LANDING

*/

header {
    width: 100%;
}

.header__container {
    height: 100%;
    flex-direction: row;
    display: flex;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.header__description {
    width: 40%;
}

.header__img {
    width: 60%;
}

.header__description--title {
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.header__description--subtitle {
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
    font-size: 1.125rem;
    line-height: 24px;
    margin: 32px 0;
}

.header__description--cta {
    display: flex;
}

.header__description--input {

}

.header__description--ctabtn {

}

.header__description--ourcustomers {
    margin-top: 80px;
}

.header__description--imgtitle {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}

.header__description--customersimg {
    padding-right: 4rem;
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.header__img--picture {
    max-width: 48rem;
}

/*

FEATURES

*/

.features__container {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-bottom: 6rem;
    padding-top: 6rem;
    margin: 0 auto;
}

.features__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
    margin-bottom: 25px;
}

.features__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
}

.features__description {
    text-align: center;
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
    margin-bottom: 1rem;
}

.features__showcase {
    flex-wrap: wrap;
    display: flex;
}

.feature {
    margin: 16px 0;
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.feature__textcontainer {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.feature__title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
}

.feature__description {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.feature__imgcontainer {
    --tw-text-opacity: 1;
    border: 1px solid transparent;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
}

.feature__img {
    opacity: 1;
    height: 1.5rem;
    width: 1.5rem;
}