
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600holyhow hodamnye;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 32px;
}

a {
    color: #243E63;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.logo {
    margin-right: 12px;
    width: 40px;
}

/*

NAVBAR 

*/

nav {
    height: 44px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    color: #243E63;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.nav__link--anchor {
    margin: 0 24px;
}


.nav__link--anchor-primary {
    background-color: #6415ff;
    margin: 0;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f7fafc;
}

.nav__link--anchor-left {
    padding-left: 48px;
}

.logo__container {
    display: flex;
    align-items: center;
    border-bottom-width: 0px;
    font-size: 24px;
    font-weight: 900;
    margin-left: 0px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text--purple {
    color: #6415ff;   
}

/* 

LANDING

*/

header {
    height: calc(100vh - 44px);
}

.templates__info--container {
    width: 100%;
    padding: 96px 24px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.templates__info--description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.templates__info--imgcontainer {
    justify-content: flex-end;
    display: flex;
    width: 60%;
}

.templates__info--title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.25;
    line-height: 60px;
}

.templates__info--img {
    width: 100%;
    min-width: 0px;
    max-width: 32rem;
}